
.text{
    color: rgb(206, 198, 198);
}

.text-p{
    color:black;
}
.text-heading{
    color: rgb(185, 185, 56);
}

.size{
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 24px;
    font-family: Ogg, sans-serif;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    letter-spacing: -1px;
    text-transform: none;
    font-style: italic;

}

.area{
    height: 200px;
    width: 100%;
}

.pad{
    padding: 2px;
}

.text-d{
    color: rgb(236, 236, 205);
}


.card{
    transition: 2s;
}

.card:hover{
    transform: scale(1.1);
}